<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/bootstrap.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url('{{user.userprofile.background_pic.url}}');">
                <div class="user-logo">
                    <div class="img" style="background-image: url('{{user.userprofile.profile_pic.url}}');"></div>
                    <h3>{{user.get_full_name}}</h3> 
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="{% if request.resolver_match.view_name == 'user' %} active {% endif %}">
                    <a href="{% url 'user' %}"><span class="fa fa-home mr-3"></span> Home</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'service_request' %} active {% endif %}">
                    <a href="{% url 'service_request' %}"><span class="fa fa-taxi mr-3"></span>Service Request</a>
                </li>
                
                <li class="{% if request.resolver_match.view_name == 'profile' %} active {% endif %}">
                    <a href="{% url 'profile' slug=user %}"><span class="fa fa-user mr-3"></span>Profile</a>
                </li>
                <li class="{% if request.resolver_match.view_name == 'logout' %} active {% endif %}">
                    <a href="{% url 'logout' %}"><span class="fa fa-sign-out mr-3"></span> Log Out</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            <nav class="navbar navbar-expand-lg navbar-light bg-white">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#"><h1 class="text-primary">{% block title %} {% endblock %}</h1></a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav  ml-auto">
                        {% if request.resolver_match.view_name == 'profile' %}
                      <a class="nav-link {% if request.resolver_match.view_name == 'home' %} active {% endif %}" href="{% url 'update_profile' %}">Update Profile</a>
                      <a class="nav-link {% if request.resolver_match.view_name == 'home' %} active {% endif %}" href="{% url 'change_password' %}">Change Password</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </nav>
            {% block content %} {% endblock %}
        </div>
    </div>


    <script src="{% static 'app/js/jquery-3.4.1.slim.js' %}"></script>
    <script src="{% static 'app/js/popper.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/main.js' %}"></script>
</body>

</html>