{% extends 'user/base.html' %}

{% block title %} Home {% endblock %}
{% block breadcumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>
{% endblock %}
{% block content %}

<div class="container">
    <h3>welcome back {{user.get_full_name}}</h2>
        {% if service_request.count > 0 %}
        <table class="table">
            <tr>
                <th>Service Request No</th>
                <th>Owner Name</th>
                <th>Status</th>
            </tr>
        {% for x in service_request %}
                <tr>
                    <td>{{x.service_request_no}}</td>
                    <td>{{x.vehicle_owner_name}}</td>
                    <td>{{x.get_status_display}}</td>
                    <td><a href="{% url 'service_view' x.service_request_no %}">View</a></td>  
                       
                </tr>
            
        {% endfor %}
    </table>
        {% else %}
        <p>There is no request pending</p>
        {% endif %}
</div>
    
{% endblock %}