{% extends 'home/base.html' %}

{% block branding %}Change Password {% endblock %}
{% load bootstrap4 %}
{% block breadcumb %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Change Password</li>
  </ol>
</nav>
{% endblock %}


{% block content %}
<div class="container mt-3">
<form action="" method="post">
{% csrf_token %}
{% bootstrap_form form %}
{% bootstrap_button "Change" button_class="btn btn-success" button_type="submit"%}

</form>
</div>
{% endblock %}


