{% extends 'home/base.html' %}

{% block content %}
{% load static %}
<div id="carouselExampleSlidesOnly" class="carousel slide container-fluid mt-3" data-ride="carousel">
  <div class="carousel-inner">
    {% for object in obj %}
    <div class="carousel-item {% if forloop.counter0 == 0%} active {% endif %}">
      <img src="{{object.image.url}}" style="height: 700px" class="img-fluid d-block w-100 m-auto">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="animate_animated">{{object.title}}</h1>
        {{object.subtitle}}
      </div>
    </div>
    {% endfor %}
  </div>
</div>


<div class="container mt-5">
  <h1 class="text-center text-primary border-bottom border-success">Our Services</h1>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img
        src="{% static 'app/img/services/periodic_maintenance_big.png' %}"></div>
    <div class="p-2">
      <h3>Preventive Maintance Service</h3>
      <p>To keep your car fine and running, we provide a regular check-up which will avoid your car from facing bigger
        problems. Also, cheering up your car with routine services will lead to better performance in return.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/body_repair_big.png' %}"></div>
    <div class="p-2">
      <h3>Body Repair</h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"> <img src="{% static 'app/img/services/accesories_big.png' %}"></div>
    <div class="p-2">
      <h3>Accesories</h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/air_condition_big.png' %}">
    </div>
    <div class="p-2">
      <h3>Air Coditioning System</h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/car_care_big.png' %}"></div>
    <div class="p-2">
      <h3>Car Care</h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/car_jack_big.png' %}"></div>
    <div class="p-2">
      <h3>Running Repairs </h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/maintenance_pck_big.png' %}">
    </div>
    <div class="p-2">
      <h3>Service Maintance Package</h3>
      <p>It matters to us that your car takes you to your destinations safely as well as smoothly and we are here to
        take care of it for you.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>

  <div class="d-flex flex-row border border-warning mt-3">
    <div class="p-2 border-right border-warning"><img src="{% static 'app/img/services/wheel_big.png' %}"></div>
    <div class="p-2">
      <h3>Wheel Care</h3>
      <p>The wheels of your car need regular attention and care. Wheels get damaged due to bad roads and pot holes
        leading to misalignment.</p>
      <a class="btn btn-primary" href="">Request Service</a>
    </div>
  </div>
</div>
{% endblock %}
{% block footer %}

<footer class="mt-5 container-fluid border">
  <div class="d-flex  flex-row">
    <div class="p-2 flex-fill d-flex">
      <div class="p-2">
        <img src="{% static 'app/img/footer/house.png' %}" width="32" height="32">
      </div>
      <div class="p-2">
        <h3>Jehanabad BR 804408</h3>
        <h3>Near Railways Station Road</h3>
      </div>
    </div>

    <div class="p-2 flex-fill d-flex">
      <div class="p-2">
        <img src="{% static 'app/img/footer/call.png' %}" width="32" height="32">
      </div>
      <div class="p-2">
        <h3>Feel Free To Call Us Now</h3>
        <h3>(1064) 222244</h3>
      </div>
    </div>

    <div class="p-2 flex-fill d-flex">
      <div class="p-2">
        <img src="{% static 'app/img/footer/tow-truck.png' %}" width="32" height="32">
      </div>
      <div class="p-2">
        <h3>24/7 Roadside Assistance</h3>
        <h3>(1064) 222233</h3>
      </div>
    </div>
  </div>


  <div class="card-group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom border-dark">About Us</h5>
        <p class="card-text">Jehanabad Bihar 804408 </p>
        <p class="card-text">Near Railways Station Road </p>
        <p class="card-text">Call: (1064) 222244</p>
        <p class="card-text">Assistance: (1064) 222233</p>
        <p class="card-text">Email: care@service.com</p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom border-dark">Our Services</h5>
        <p class="card-text"><a class="text-dark" href="">Preventative Mantance Service</a></p>
        <p class="card-text"><a class="text-dark" href="">Body Repair</a></p>
        <p class="card-text"><a class="text-dark" href="">Accesories</a></p>
        <p class="card-text"><a class="text-dark" href="">Air Conditioning System</a></p>
        <p class="card-text"><a class="text-dark" href="">Car Care</a></p>
        <p class="card-text"><a class="text-dark" href="">Running Repairs</a></p>
        <p class="card-text"><a class="text-dark" href="">Service Maintance Package</a></p>
        <p class="card-text"><a class="text-dark" href="">Wheel Care</a></p>
        
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title border-bottom border-dark">Hour</h5>
        <p class="card-text"><b>Monday:    </b>9:00 AM to 11:30 PM</p>
        <p class="card-text"><b>Tuesday:   </b>9:00 AM to 11:30 PM</p>
        <p class="card-text"><b>Wednesday: </b>9:00 AM to 11:30 PM</p>
        <p class="card-text"><b>Thursday:  </b>9:00 AM to 11:30 PM</p>
        <p class="card-text"><b>Friday:    </b>9:00 AM to 11:30 PM</p>
        <p class="card-text"><b>Saturday:  </b>9:00 AM to 1:30 PM</p>
        <p class="card-text"><b>Sunday:    </b>Closed</p> 
      </div>
    </div>
  </div>
  <p class="text-center p-3">Copyright &#169; 2021 by Ajeet. All Rights Reserved.</p>
</footer>
{% endblock%}
